.container {
    margin-left: 20%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.panel-heading {
    background-color: darkblue;
}

button {
    background-color: darkblue;
}
