<form #emailForm="ngForm" (ngSubmit)="handleForgotPassword(emailForm)">
    <div class="container">
        <div style="width: 70%;" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Forgot your password? </h3>
            </div>
            <div class="panel-body">                
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" placeholder="Example: pat@example.com" name="email" required #emailControl="ngModel" [pattern]="emailPattern" ngModel
                        type="email" class="form-control">
                    <div class="alert alert-danger" *ngIf="emailControl.touched && !emailControl.value">Email
                        is required</div>
                    <div class="alert alert-danger" *ngIf="emailControl.value && emailControl.errors">Invalid email
                        format
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Submit</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div *ngIf="error" style="width: 70%" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
</div>