p {
    text-align: center;
}

.container {
    margin-left:20%;
    margin-top:5%;
}

div.panel.panel-primary {
    margin-left: 25%;
}

button {
    margin-left:40%;
    background-color: darkblue;
}