<form #emailForm="ngForm" (ngSubmit)="handleForgotPassword(emailForm)">
    <div class="container">
        <div style="width: 80%;" class="jumbotron">
            <p> A verification code has been sent to your registered email address.</p>
            <p>Please enter the verification code to set new password.</p>

            <div style="width: 50%;" class="panel panel-primary">
                <div class="panel-body">
                    <div class="form-group">
                        <input id="email" placeholder="Email" name="email" required #emailControl="ngModel" ngModel
                            [pattern]="emailPattern" type="email" class="form-control">
                        <div class="alert alert-danger" *ngIf="emailControl.touched && !emailControl.value">
                            Email is required
                        </div>
                        <div class="alert alert-danger" *ngIf="emailControl.value && emailControl.errors">
                            Invalid email format
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="code" placeholder="Verification code" name="code" required #codeControl="ngModel"
                            [pattern]="otpPattern" ngModel type="text" class="form-control">
                        <div class="alert alert-danger" *ngIf="codeControl.touched && !codeControl.value">
                            Enter the verification code
                        </div>
                        <div class="alert alert-danger" *ngIf="codeControl.value && codeControl.errors">
                            Invalid verification code
                        </div>
                    </div>
                    <div class="form-group">
                        <input placeholder="New password" id="password" type="password" required
                            [pattern]="passwordPattern" #pwdControl="ngModel" name="password" ngModel
                            class="form-control">
                        <div class="alert alert-danger" *ngIf="pwdControl.touched && !pwdControl.value">Password
                            is required</div>
                        <div class="alert alert-danger" *ngIf="pwdControl.value && pwdControl.errors">
                            Password must contain:
                            <span *ngIf="!lowercaseExp.test(pwdControl.value)">
                                <br />at least 1 lowercase alphabetic character
                            </span>
                            <span *ngIf="!uppercaseExp.test(pwdControl.value)">
                                <br />at least 1 uppercase alphabetic character
                            </span>
                            <span *ngIf="!numericExp.test(pwdControl.value)">
                                <br />at least 1 numberic character
                            </span>
                            <span *ngIf="!specialCharacterExp.test(pwdControl.value)">
                                <br />at least 1 special character
                            </span>
                            <span *ngIf="!pwdLengthExp.test(pwdControl.value)">
                                <br />at least 6 characters long
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div *ngIf="error" style="width: 80%" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
</div>