<div class="inputContainer">
    <input type="text" #textbox (keyup.enter)="onSearch(textbox.value)" placeholder="Search location here" />
</div>

<div *ngFor="let attraction of attractions" class="container">
    <mat-card class="example-card">
        <mat-card-title>
            <button mat-raised-button color="primary" (click)="onClickBook(attraction.id)">Book</button>
            {{ attraction.attraction }}, {{ attraction.city }}
        </mat-card-title>
        <mat-card-content>
            <div class="image">
                <img src='{{ attraction.imageURL }}' alt="">
            </div>
            <div class="description">
                <h4> Highlights </h4>
                <p>
                    {{ attraction.description }}
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<div class="error-container">
    <div *ngIf="error" style="width: 70%" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>
</div>