input {
    width: 70%;
    height: 50px;
    margin-left:15%;
    margin-right:13%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-left: 7px;
    outline-color: blue;    
    border: 1px solid darkblue;    
}

.container {
    width:900px;
    margin:auto;
}

.example-card {
    margin-bottom: 7%;        
    font-family: Arial, Helvetica, sans-serif;    
}

h2 {
    text-align: center;
}

p {
    font-size: medium;
}

button {
    width: 300px;    
    align-items: center;
    margin-left: 500px;
    height: 50px;
    font-size: 20pt;
    margin-bottom: 5%;
}

img {
    width: 450px;
    height: 400px;
    margin-left:200px;
    margin-top: 2%;
    margin-bottom: 2%;
}

mat-card-title {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin-top: 2%;
}

h4 {
    text-align: center;
    font-size: 18pt;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

mat-card{
    background-color: whitesmoke;
}

.error-container {
    margin-left: 15%;
}