<div class="container">
    <div class="container">
        <h2> My Profile </h2>
    </div>
    <div>
        <mat-card style="width: 100%;">
            <table style="margin:1%;width: 100%">
                <tbody>
                    <tr>
                        <th scope="row"> Given name </th>
                        <td>{{ user.givenName }} </td>

                    </tr>
                    <tr>
                        <th scope="row"> Last name </th>
                        <td>{{ user.lastName }} </td>
                    </tr>
                    <tr>
                        <th scope="row"> Gender </th>
                        <td>{{ user.gender }} </td>
                    </tr>
                    <tr>
                        <th scope="row"> Email </th>
                        <td>{{ user.email }} </td>
                    </tr>
                    <tr>
                        <th scope="row"> Phone </th>
                        <td>{{ user.phoneNumber }} </td>
                    </tr>
                    <tr>
                        <th scope="row"> Date of birth </th>
                        <td>{{ user.dateOfBirth }} </td>
                    </tr>
                </tbody>
            </table>
        </mat-card>
        <br />
    </div>
    <br />
</div>